* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

body{
	width: 620px;
	height: 340px;
	background-image: url(backgrounds/sunny.png);
	background-size: 640px 360px;
	background-repeat: no-repeat;
}

#background {
	position: relative;
}

#now_week {
	position: absolute;
	z-index: 2;
	left: 345px;
	top: 35px;
	font-size: 20px;
	color: #0288D1;
	font-weight: bold;
}

#now_temp {
	position: absolute;
	z-index: 2;
	left: 420px;
	top: 60px;
	font-size: 60px;
	float: right;
}

#now_temp p {
	font-size: 30px;
	float: right;
	margin-top: 9px;
}

#now_city {
	position: absolute;
	z-index: 2;
	left: 345px;
	top: 140px;
	font-size: 15px;
	color: #877F6C;
	font-weight: lighter;
}

#now_icon {
	position: absolute;
	z-index: 2;
	left: 340px;
	top: 65px;
}

#now_icon img {
	width: 70px;
	height: 70px;
}

#card1 {
	position: absolute;
	z-index: 1;
	left: 300px;
	top: 20px;
}

#card1>img {
	height: 180px;
	width: 320px;
}

#card2 {
	position: absolute;
	z-index: 1;
	left: 289px;
	top: 180px;
}

#card2>img {	
	height: 120px;
	width: 320px;
}

table {
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
}

#hourly {
	position: absolute;
	top: 29px;
	left: 512px;
	z-index: 2;
	color: #FEDFE1;
}

/*#hourly table {
	border: 1px solid;
}*/

#hourly td {
	width: 25px;
	height: 28px;
	white-space: nowrap;
}

#hourly img {
	width: 15px;
	height: 15px;
}

#daily {
	position: absolute;
	top: 205px;
	left: 330px;
	z-index: 2;
	color: #877F6C;
}

/*#daily table {
	border: 1px solid;
}*/

#daily td {
	white-space: nowrap;
	width: 65px;
	height: 25px;
}

#daily img {
	width: 30px;
	height: 30px;
}