* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}

body{
	width: 620px;
	height: 340px;
	background-image: url(backgrounds/winter-scene.png);
	background-size: 640px 360px;
	background-repeat: no-repeat;
}

#background {
	position: relative;
}

#card1 {
	position: absolute;
	z-index: 1;
	left: 300px;
	top: 20px;
}

#card1>img {
	height: 180px;
	width: 320px;
}

#card2 {
	position: absolute;
	z-index: 1;
	left: 289px;
	top: 180px;
}

#card2>img {	
	height: 120px;
	width: 320px;
}

table {
	text-align: center;
	border-collapse: collapse;
}

#hourly {
	position: absolute;
	top: 29px;
	left: 517px;
	z-index: 2;
}

/*#hourly table {
	border: 1px solid;
}*/

#hourly td {
	padding: 5px 3px;
	white-space: nowrap;
}

#hourly img {
	width: 15px;
	height: 15px;
}

#daily {
	position: absolute;
	top: 204px;
	left: 334px;
	z-index: 2;
}

/*#daily table {
	border: 1px solid;
}*/

#daily td {
	padding: 2px 5px;
	white-space: nowrap;
}

#daily img {
	width: 30px;
	height: 30px;
}